#section-cartao-bndes 
    height 250px 
    background-color primaryColor  
    margin-bottom 74px
    @media screen and (min-width: mobile-min) and (max-width: tablet-max)   
        height 490px
        margin-bottom 56px 
    .button
        margin 0 auto
        margin-top 13px
        width 196px 
        i 
            margin-left 8px
            margin-top 3px
    .col-persona 
        img 
            position absolute
            margin-top -110px   
            margin-left -22px
    .col-text 
        text-align center
        padding-top 21px
        @media screen and (min-width: desktop-min) 
            max-width 548px
            padding-left 43px
        @media screen and (min-width: mobile-min) and (max-width: tablet-max)   
            padding-top 46px
        .title
            font-size 38px 
            color branco   
            font-weight weight-strong 
            @media screen and (min-width: mobile-min) and (max-width: tablet-max)   
                font-size 22px
            span 
                font-size 38px 
                color secundaryColor 
                font-weight weight-strong  
                @media screen and (min-width: mobile-min) and (max-width: tablet-max)   
                    font-size 22px
        p 
            font-size 15px  
            color branco  
            max-width 345px
            margin 0 auto
            * 
                color branco 
                font-size 15px 
            strong, b 
                font-weight weight-medium 
        .card-img 
            @media screen and (min-width: mobile-min) and (max-width: tablet-max)   
                width 240px 
                margin 0 auto

    .col-card 
        img 
            margin-top -46px
            position absolute 
            margin-left -71px