#section-iframe    
    margin-bottom 76px
    @media screen and (min-width: mobile-min) and (max-width: tablet-max)  
        margin-bottom 47px
    .line-iframe  
        iframe 
            width 100% !important 
            height 458px !important 
            border-radius 15px
            background #fff
            border 1px solid #707070  
