#section-nossos-produtos
    padding-bottom 99px  
    @media screen and (min-width: mobile-min) and (max-width: tablet-max)      
        padding-bottom 47px
    .line-cards 
        margin-top 29px 
        @media screen and (min-width: mobile-min) and (max-width: tablet-max)     
            margin-top 26px
    .button     
        @media screen and (min-width: desktop-min) 
            width 224px 
            margin 0 auto
        i 
            margin-left 8px 
    .card-component-one 
        @media screen and (min-width: desktop-min)  
            height 414px
        p  
            @media screen and (min-width: desktop-min)  
                height 96px