#section-politica-de-qualidade  
    margin-bottom 97px
    .splide-cards-politicas
        .splide__arrows  
            bottom -297px
    .line-cards  
        margin-top 34px !important
        display flex !important 
        
        /* Small only */
        @media screen and (min-width: mobile-min) and (max-width: tablet-max)    
            flex-wrap inherit  
       

        .box 
            width 360px
            height 200px
            border-radius 6px
            background branco
            border 1px solid #eee 
            text-align center  
            padding-left 33px 
            padding-right 33px 
            padding-top 32px 
            margin 0 auto 
            /* Small only */
            @media screen and (min-width: mobile-min) and (max-width: tablet-max)    
                width 100%  
                height 230px
                padding-left 16px 
                padding-right 16px
            p 
                font-size 16px 
                font-weight weight-strong 
                color primaryColor 
                line-height 22px 
            img 
                margin-bottom 10px