#section-intro-int 
    background-color primaryColor  
    padding-top 65px 
    padding-bottom 60px 
    margin-bottom 17px
    @media screen and (min-width: mobile-min) and (max-width: tablet-max)  
        padding-top 48px 
        padding-bottom 45px
    .title-large 
        color branco 
        margin 0