#section-contact 
    
    background-position center 
    background-size cover
    @media screen and (min-width: desktop-min)  
        background url('../imgs/banner/bg-section-contact.jpg')  
    @media screen and (min-width: mobile-min) and (max-width: tablet-max)    
        padding-bottom 43px 
        background url('../imgs/banner/bg-section-contact-mob.jpg')  
    .col-img 
        img
            margin-left -191px 
            margin-top -103px 
    .col-text 
        
        position relative 
        @media screen and (min-width: desktop-min) 
            padding-top 87px  
            padding-left 73px  
        @media screen and (min-width: mobile-min) and (max-width: tablet-max)   
            padding-top 44px
        .risco-lapis 
            position absolute
            right 0
            top 117px 
            @media screen and (min-width: mobile-min) and (max-width: tablet-max)   
                left 3px
                width 94px 
                top 101px
        form 
            max-width 553px
            padding-left 8px
            padding-right 8px  
            label 
                @media screen and (min-width: mobile-min) and (max-width: tablet-max)   
                    left 19px
            textarea 
                max-width 501px 
                height 160px 
            input, select, textarea 
                border 1px solid rgba(149, 149, 149, 0.5) !important 
                
            p 
                font-size 11px 
                line-height 15px 
                margin-top 11px  
                @media screen and (min-width: mobile-min) and (max-width: tablet-max) 
                    font-size 12px
            .button 
                @media screen and (min-width: desktop-min) 
                    float right 
                    margin-right -3px