@import '../global-variables'
@import '../globals-sections/section-intro-int'
@import '../globals-sections/maps-iframe'

#fale-conosco 
    #section-intro 
        margin-bottom 55px
        .box-infos 
            width 550.14px
            height 291.45px
            background #fff
            filter drop-shadow(0px 10px 20px #eaecf2) 
            border-radius 10px
            border-right 11px solid secundaryColor
            padding-left 47px 
            padding-top 50px
            padding-bottom 33px 
            padding-right 47px 
            /* Small only */
            @media screen and (min-width: mobile-min) and (max-width: tablet-max)  
                width 100% 
                height auto 
                padding-left 24px
                padding-right 24px
                text-align left 
                padding-bottom 1px 
                margin-top 23px 
                padding-top 27px
            .numbers 
                /* Large and up */
                @media screen and (min-width: desktop-min)
                    display flex  
                    gap 12px
            .infos  
                margin-bottom 29px
                display block 
                .endereco 
                    max-width 316px 
                    address 
                        margin 0
                a 
                    
                    display flex 
                    align-items baseline  
                    gap 7px   
                    width 100%  
                    margin-bottom 15px
                    @media screen and (min-width: mobile-min) and (max-width: tablet-max)  
                        margin-bottom 15px 
                    strong  
                        font-weight weight-strong 
                *
                    color primaryTextColor  
                    font-size 15px
                   
                i 
                    color secundaryColor
                    margin-right 10px
                    font-size 18px 
                    width 15.44px
                .box-title 
                    display flex 
                    align-items baseline  
                    gap 7px 

        .col-form 
            form 
                /* Small only */
                @media screen and (min-width: mobile-min) and (max-width: tablet-max)  
                    margin-top 31px 
                /* Large and up */
                @media screen and (min-width: desktop-min) 
                    max-width 463px
                    float right  
                    margin-top 20px
                div  
                    margin-bottom 5px  !important
                    gap 4px
                    @media screen and (min-width: desktop-min) 
                        margin 0 

               

                p 
                    font-size 11px 
                    line-height 15px 
                    margin-top 13px
                textarea 
                    height 160px 
                    padding-left 11px !important
                .form-control 
                    margin-bottom 0px 
                .button 
                    /* Large and up */
                    @media screen and (min-width: desktop-min) 
                        float right
      
    #section-trabalhe-conosco 
        height 558px 
        background-color primaryColor  
        margin-bottom 79px
        @media screen and (min-width: mobile-min) and (max-width: tablet-max)  
            height 893px
            margin-bottom 47px
        * 
            color branco 
        .title-large 
            margin-bottom 11px
        .text-princ 
            max-width 618px
        .persona 
            margin-top -39px 
            margin-left -21px  
        .col-form 
            padding-top 46px
            form 
                margin-top 19px
                div  
                    gap 4px
                    margin-bottom 5px  !important
                    @media screen and (min-width: desktop-min)
                        margin 0
                .col-file
                    background branco
                    @media screen and (min-width: mobile-min) and (max-width: tablet-max)  
                        height 51px
                        max-width 294px
                        margin 0 auto 
                        margin-bottom 12px 
                    .input-personalizado 
                        @media screen and (min-width: mobile-min) and (max-width: tablet-max)  
                            padding-left 11px
                .botao-selecionar-1 
                    background secundaryColor 
                    padding 7px 
                    color branco  
                    margin-left -10px
                .botao-selecionar 
                    font-size 13px 
                    color primaryTextColor

                .input-personalizado
                    cursor pointer 

                

                .imagem
                    max-width 100%
                

                .input-file
                    display none 
                
                textarea 
                    height 160px  
                    padding-left 11px !important
                .button 
                    @media screen and (min-width: desktop-min)
                        margin-top 6px
                        position absolute
                        right 0
                .col-button  
                    position relative
                    @media screen and (min-width: desktop-min)
                        display flex  
                    p 
                        max-width 481px
                        font-size 11px 
                        line-height 15px
                        margin-top 2px 
                        @media screen and (min-width: mobile-min) and (max-width: tablet-max)   
                            max-width 100%

    