@import '../global-variables'
@import '../globals-sections/section-intro-int' 
#normas-tecnicas
    #section-intro  
        .line-intro 
            margin-bottom 27px
        .line-content 
            margin-bottom 166px
            @media screen and (min-width: mobile-min) and (max-width: tablet-max)   
                margin-bottom 51px
            .col-cards 
                .button 
                    margin-top 13px

