

// size text
size-text-desktop = 14px
size-text-mobile = 16px 
size-title-large-desk = 35px 
size-title-large-mob = 22px 



// font weight
weight-strong =  700
weight-extra = 900
weight-medium = 500
weight-normal =  400 


// colors
primaryColor = #2A426B
secundaryColor = #A8CF45
primaryGrayColor = #070707
tertiaryColor = #00395E
primaryTextColor = #6A6A6A
branco = #FFFFFF
lightgreen = #10C38B
gelo = #C3D0FD 
lightBlue = #F5F9FF


// medias 
desktop-min = 64em;
mobile-min = 320px;
tablet-max = 63.9375em;
tablet-min = 40em;

// grid
grid-container-desktop = 1175px

grid-container-mobile = 320px

//layout width 
max-layout = 1920px


// effect transition 
effect-transition = transform 1s