@import './global-variables'

// configs
* 
  font-size size-text-desktop 
  font-family 'Roboto', sans-serif
  padding 0
  margin 0
  color primaryTextColor
  font-weight weight-normal
  line-height 24px  
  /* Small only */
  @media screen and (min-width: mobile-min) and (max-width: tablet-max) 
    font-size size-text-mobile   


.title-large 
  font-size size-title-large-desk 
  color primaryColor 
  font-weight weight-strong 
  light-height 55px  
   /* Small only */
  @media screen and (min-width: mobile-min) and (max-width: tablet-max) 
    font-size size-title-large-mob 
    line-height 30px
.title-sup 
  color primaryColor 
  font-size 14px 
  font-weight weight-strong 





