#footer 
  background-color branco
  padding-top 63px 
  padding-bottom 99px 
  font-size 14px 
  position relative
  /* Small only */
  @media screen and (min-width: mobile-min) and (max-width: tablet-max)   
    padding-top 27px 
    padding-bottom 142px
    
  .txt-blue 
    color primaryColor 
    * 
      color primaryColor 
      
  * 
    font-size 13px   
    line-height 20px
  .column-1  
    
    .logo-footer 
      margin-bottom 22px
    .link 
      text-decoration underline  !important
      display block 
      margin-bottom 21px 
    .fa 
      font-size 17px
      margin-right 14px
      width 27.32px
      text-align center
      height 27.32px
      padding 4px 
      border-radius 3px 
    
  .column-2, .column-3  
    padding-left 45px
    text-transform uppercase 
    font-weight weight-strong 
    *
      text-transform uppercase 
      font-weight weight-strong  
    a 
      display block  
      font-size 14px 
      color primaryColor 
      line-height 39px
    .list 
      text-transform initial 
      font-weight weight-normal 
      padding-left 18px 
      display flex
      flex-flow column wrap
      justify-content space-between
      align-content space-between
      height 152px
      list-style-type none 
      padding-left 0 
      i 
        color secundaryColor 
        font-size 12px
      *  
        text-transform initial  
        font-weight weight-normal   
      li 
        margin-right 39px
        a 
          line-height 21px 
          color primaryTextColor 
          font-size 12px 

      

  .column-4 
    padding-right 26px
    a 
      display flex 
      margin-bottom 8px  
      gap 8px 
      max-width 234px 
      color primaryTextColor 
    .button 
      color branco
    .fa 
      font-size 20px  
      color secundaryColor
      vertical-align middle  
    .box 
      display flex
      justify-content end 
      address 
        text-align right 
        font-style inherit
    
    .endereco 
      margin-top 14px
    .box-horarios 
      text-align right
      .fa 
        margin-left 8px 
  .direitos 
    background-color primaryColor
    height 40px  
    padding-top 11px 
    position absolute 
    bottom 0 
    width 100%  
    /* Small only */
    @media screen and (min-width: mobile-min) and (max-width: tablet-max)   
      padding-bottom 100px 
      background-color #F7F7F7 
    *
      color primaryTextColor 
      @media screen and (min-width: desktop-min)  
        color branco
    p
      margin 0
    .col-img 
      padding-right 21px  
  /* Small only */
  @media screen and (min-width: mobile-min) and (max-width: tablet-max)   
    .box-mobile  
      .box 
        a 
          line-height 18px 
          display block 
          margin-bottom 15px 
          color primaryTextColor
          i 
            display block 
            color secundaryColor
            font-size 23px 
            margin-bottom 9px
      .box-redes 
        display flex 
        gap 10px 
        justify-content center
        a
          border-radius 3px
          width 30px
          height 30px
          display flex
          align-items center
          justify-content center  
          background-color secundaryColor
          i 
            color branco






    
                
                

